.chat-container {
    position: relative;
    display: flex;
    overflow: hidden;
}

.chat-list-sidebar {
    top: 0;
    left: 0;
    height: 100vh;
    width: 350px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.chat-list-header {
    padding: 20px;
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.chat-title {
    font-size: 24px;
    font-weight: 600;
}

.add-chat {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px 12px;
    font-size: 14px;
    color: grey;
    cursor: pointer;
}

.add-chat:hover {
    background-color: #f9f9f9;
}

.chat-list-container {
    margin-top: -10px;
    padding: 0 10px;
}

.chat-list-item {
    cursor: pointer;
    flex-shrink: 0;
}

.chat-list-item div {
    transition: 0.5s all;
    border-radius: 8px;
}

.chat-list-item div:hover {
    background-color: #eaeaea;
}