.input-label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

.input-text-label {
    padding-left: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

input[type="datetime-local"]::placeholder {
    color: grey;
    opacity: 1; /* Pastikan warna tidak transparan di beberapa browser */
}

/* Untuk Safari */
input[type="datetime-local"]::-webkit-datetime-edit-fields-wrapper {
    color: grey;
}

/* Untuk Firefox */
input[type="datetime-local"]::-moz-placeholder {
    color: grey;
}
