/* Footer */
.chat-content-footer {
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1); /* Bayangan ke atas */
    bottom: 0;
    position: absolute;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #ffffff;
}

.chat-input-container {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
    width: 100%;
    transition: 0.5s all;
    box-sizing: border-box;
    margin-right: 10px;
}

.chat-input {
    border: none;
    outline: none;
    font-size: 14px;
    width: 100%;
}

.chat-input-attribute {
    display: flex;
    gap: 15px;
}

.chat-send-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    flex-shrink: 0; /* Tambahkan ini untuk menjaga ukuran avatar */
    flex-basis: 45px;
    background: linear-gradient(to top right, #c7d2fe, #a5b4fc);
    color: #3730a3;
    cursor: pointer;
    transition: 0.5s all;
}

.chat-send-text:hover {
    background: linear-gradient(to top right, #bdcafc, #9aabff);
}

.empty-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}